<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">

<web-app>

   <description>Open Simulation Platform Server Application</description>

   <listener>
      <listener-class>
        org.usip.osp.networking.USIP_OSP_ContextListener
      </listener-class>
    </listener>
	
	<jsp-config>
	    <taglib>
          <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
          <taglib-location>/WEB-INF/c-1_0.tld</taglib-location>
        </taglib>

        <taglib>
          <taglib-uri>http://java.sun.com/jsp/jstl/core-rt</taglib-uri>
          <taglib-location>/WEB-INF/c-1_0-rt.tld</taglib-location>
        </taglib>

</jsp-config>

<!--
<welcome-file-list>
			<welcome-file>
            index.jsp
        </welcome-file>
				<welcome-file>
            index.html
        </welcome-file>
				<welcome-file>
            index.htm
        </welcome-file>
  </welcome-file-list>
-->
 
</web-app>